html 
{
	  scroll-behavior: smooth;
}

body
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.header 
{
padding: 4px;
display: flex;
align-items: center;
text-align: left;
font-family: sans-serif;
background: #080808;
color: white;
font-size: 12px;
}

.header p
{
	margin-top: 45px;
	font-weight: 300;
	font-style: italic;
	font-size: 16px;
}


.logo 
{
	height: 75px;
	margin-right: 12px; 
	margin-left: 15px;
}

.head
{
 font-size:40px;
 text-align:center;
}

.para
{
	font-size:16px;
	text-align:center;
}

.nav
{
padding: 12px;
text-align: left;
font-family: sans-serif;
background: #686868;
color: white;
font-size: 16px;
}

.button_bar_item
{
padding: 12px;
font-family: sans-serif;
text-align: left;
background: #686868;
color: white;
font-size: 18px;
}

.button_bar_item:hover {background: #545454;}


.start 
{       
	font-size: 18px;
	font-family: sans-serif;
	text-align: center;
	display: flex;
	flex-direction: column;  
	justify-content: center; 
	align-items: center;    
	height: 100vh; 
}

.start p
{
	max-width: 600px; 
	margin: 24px 0;   
	text-align: center;

}


.startp
{
	font-size: 18px;
	font-family: sans-serif;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 233vh;
}

.startp p
{
        max-width: 600px;  
        margin: 24px 0;   
        text-align: center;
}

.startl
{
	font-size: 18px;
	font-family: sans-serif;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 385vh;
}

.startl p
{
        max-width: 600px;   
        margin: 24px 0; 
        text-align: center;
}



.startp img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

